body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: #333;
}


.CategoryFilter {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

select {
  padding: 5px;
}

.NewTransactionForm {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
button {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.TransactionList {
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 8px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
}

button {
  background-color: #f44336;
  color: white;
  cursor: pointer;
}
